

<h2>All jokes</h2>
<ul>
  {{#each jokes}}
  <li>
    {{this}}
  </li>
  {{/each}}
</ul>

<h2>Add Joke</h2>

<div style="width=100%;margin-top:10px;">
  <form method="post" id="nameform">
    <label>Add Joke</label>
    <input name="joke">
    <input type="submit">
  </form>
</div>